# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_data = pd.read_csv("output_data/cities.csv")
weather_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saint-Philippe,-21.3585,55.7679,295.90,78,59,8.73,RE,1621471452
1,Kutum,14.2000,24.6667,296.74,38,0,1.90,SD,1621471452
2,Kirakira,-10.4544,161.9205,300.22,86,100,3.36,SB,1621471153
3,Port Hedland,-20.3167,118.5667,293.18,56,0,2.57,AU,1621471176
4,Pisco,-13.7000,-76.2167,292.60,82,0,5.14,PE,1621471134

In [4]:
weather_data.keys()

Index(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
#configuring gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)

weight = weather_data["Humidity"].astype(float)

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create a humidity Heatmap layer
heat_layer = gmaps.heatmap_layer(locations, weights= weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [20]:
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Saint-Philippe,-21.3585,55.7679,295.90,78,59,8.73,RE,1621471452
1,Kutum,14.2000,24.6667,296.74,38,0,1.90,SD,1621471452
2,Kirakira,-10.4544,161.9205,300.22,86,100,3.36,SB,1621471153
3,Port Hedland,-20.3167,118.5667,293.18,56,0,2.57,AU,1621471176
4,Pisco,-13.7000,-76.2167,292.60,82,0,5.14,PE,1621471134
...,...,...,...,...,...,...,...,...,...
366,Sonkovo,57.7782,37.1571,287.97,96,100,4.57,RU,1621471572
367,Honningsvåg,70.9821,25.9704,277.84,92,100,3.74,NO,1621471573
368,Kingston,17.9970,-76.7936,301.68,81,20,8.75,JM,1621471524
369,Katobu,-4.9408,122.5276,302.03,71,24,2.95,ID,1621471243
370,Erenhot,43.6475,111.9767,292.39,39,3,5.85,CN,1621471573

In [22]:
# Filtering data by ideal conditions
weather_df = weather_data[(weather_data['Wind Speed'] < 5) & (weather_data['Cloudiness'] < 10)]
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,Kutum,14.2000,24.6667,296.74,38,0,1.90,SD,1621471452
3,Port Hedland,-20.3167,118.5667,293.18,56,0,2.57,AU,1621471176
19,Busselton,-33.6500,115.3333,289.11,71,6,2.12,AU,1621471119
23,Puerto Ayora,-0.7393,-90.3518,296.79,89,0,2.68,EC,1621471120
28,Cabo San Lucas,22.8909,-109.9124,305.10,61,1,1.54,MX,1621471151

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [26]:
# blank column for hotel name
hotel_df = weather_df.copy()
hotel_df["Hotel Name"]= ""

In [25]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,Kutum,14.2000,24.6667,296.74,38,0,1.90,SD,1621471452,
3,Port Hedland,-20.3167,118.5667,293.18,56,0,2.57,AU,1621471176,
19,Busselton,-33.6500,115.3333,289.11,71,6,2.12,AU,1621471119,
23,Puerto Ayora,-0.7393,-90.3518,296.79,89,0,2.68,EC,1621471120,
28,Cabo San Lucas,22.8909,-109.9124,305.10,61,1,1.54,MX,1621471151,

In [34]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [35]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
1,Kutum,14.2000,24.6667,296.74,38,0,1.90,SD,1621471452,Dibbo areaمنطقة دبو
3,Port Hedland,-20.3167,118.5667,293.18,56,0,2.57,AU,1621471176,The Esplanade Hotel
19,Busselton,-33.6500,115.3333,289.11,71,6,2.12,AU,1621471119,Observatory Guest House
23,Puerto Ayora,-0.7393,-90.3518,296.79,89,0,2.68,EC,1621471120,Finch Bay Galapagos Hotel
28,Cabo San Lucas,22.8909,-109.9124,305.10,61,1,1.54,MX,1621471151,Tesoro Los Cabos
31,Port Elizabeth,-33.9180,25.5701,289.31,94,0,2.57,ZA,1621471234,39 On Nile Guest House
37,Qeshm,26.9581,56.2719,302.15,69,4,2.06,IR,1621471352,Qeshm Kavan Hotel
40,Upernavik,72.7868,-56.1549,270.44,79,2,4.00,GL,1621471171,Gina's Guesthouse - Upernavik
48,Walvis Bay,-22.9575,14.5053,287.64,80,0,1.83,NaN,1621471305,Oyster Box Guesthouse
49,Kiryat Gat,31.6100,34.7642,293.71,100,0,0.45,IL,1621471323,OlusHome
57,Jamestown,42.0970,-79.2353,298.77,40,1,3.60,US,1621471110,Hampton Inn & Suites Jamestown
62,Tabas,33.5959,56.9244,300.71,18,0,1.72,IR,1621471249,شرکت معماری مهراز شایگان آراد
98,Nanortalik,60.1432,-45.2371,275.55,78,4,3.75,GL,1621471231,Hotel Kap Farvel
103,Chabahar,25.2919,60.6430,303.15,66,0,1.35,IR,1621471480,هتل گدروشیا
107,Carnarvon,-24.8667,113.6333,291.19,82,0,3.60,AU,1621471146,Hospitality Carnarvon
111,Caravelas,-17.7125,-39.2481,295.52,84,1,2.18,BR,1621471027,Pousada dos Navegantes
113,Karatau,43.1667,70.4667,290.28,58,0,2.26,KZ,1621471482,Gor.bol'nitsa
114,Canavieiras,-15.6750,-38.9472,294.92,80,5,1.48,BR,1621471483,Bahiadomizil
122,Westport,41.1415,-73.3579,298.74,61,1,0.89,US,1621471250,The Westport Inn
135,Saint George,37.1041,-113.5841,307.48,8,1,1.34,US,1621471144,Best Western Plus Abbey Inn
145,Simojovel,17.1391,-92.7103,297.67,75,5,1.32,MX,1621471492,Hotel Flor de Maria
147,Castro,-24.7911,-50.0119,284.43,55,0,0.99,BR,1621471015,CHACARA BAILLY
150,Ponta do Sol,32.6667,-17.1000,296.50,59,3,2.93,PT,1621471126,Hotel do Campo
151,Arlit,18.7369,7.3853,305.48,11,0,4.64,NE,1621471307,Case de Passage De la Prefecture
152,Fairbanks,64.8378,-147.7164,291.34,36,1,3.60,US,1621471018,Westmark Fairbanks Hotel & Conference Center
185,Ulaanbaatar,47.9077,106.8832,287.15,44,0,1.00,MN,1621471466,The Blue Sky Hotel and Tower
186,Riyadh,24.6877,46.7219,306.18,13,0,0.00,SA,1621470990,"InterContinental Riyadh, an IHG Hotel"
190,Najrān,17.4924,44.1277,298.15,20,0,0.97,SA,1621471508,محمد هادي ال فطيح
199,Holeby,54.7115,11.4642,280.96,91,7,4.64,DK,1621471510,Hotel E4
211,Santa Rosalía,27.3167,-112.2833,302.05,34,0,2.33,MX,1621471515,Hotel Las Casitas Santa Rosalia
220,Cap Malheureux,-19.9842,57.6142,294.82,79,5,0.89,MU,1621471518,Pereybere Hotel & Spa
224,Touros,-5.1989,-35.4608,298.15,88,0,3.09,BR,1621471360,INN NEW HORIZON
230,Marshall,34.3834,-86.3333,299.14,59,1,0.89,US,1621471468,Riverview Campground
231,Wembley,-31.9333,115.8000,289.87,92,0,2.42,AU,1621471272,Quest on Rheola
234,Dongsheng,39.8161,109.9776,289.12,44,0,3.99,CN,1621471121,Crowne Plaza Ordos
243,Esperance,-33.8667,121.9000,289.06,82,0,2.88,AU,1621471138,Hospitality Esperance
259,Namwala,-15.7504,26.4384,285.77,68,6,2.14,ZM,1621471528,Corner Point Lodge
260,Itapetinga,-15.2489,-40.2478,291.85,83,2,2.20,BR,1621471529,Hotel Del Rey
278,Emerald,-23.5333,148.1667,295.56,60,2,4.12,AU,1621471168,The Irish Village
282,Poum,-20.2333,164.0167,297.33,72,1,3.64,NC,1621471359,Gîte kajeon
285,Mahon,39.8885,4.2658,288.46,67,0,4.63,ES,1621471537,ARTIEM Capri
286,Kabompo,-13.5927,24.2008,286.18,69,1,2.33,ZM,1621471537,Big Tree
291,Zulueta,42.7451,-1.5793,279.82,93,0,0.51,ES,1621471540,Hotel Pamplona Cross Elorz
306,Porto-Vecchio,41.5910,9.2795,286.96,77,0,2.87,FR,1621471545,Hôtel Le Goéland - Casa Santini
312,Coromandel,-18.4733,-47.2003,290.35,43,0,0.77,BR,1621471547,Hotel Dona Adélia
313,Jiuquan,39.7432,98.5174,293.11,17,0,0.47,CN,1621471390,Jiuquan Hotel
314,Abhā,18.2164,42.5053,293.05,31,0,2.17,SA,1621471548,Abha Hotel
317,Jiayuguan City,39.8167,98.3000,291.97,17,0,0.60,CN,1621471549,Jiugang Hotel - Jiayuguan
319,Byron Bay,-28.6500,153.6167,296.51,66,2,3.13,AU,1621471272,Backpackers Inn on the Beach
332,Alta Floresta,-9.8756,-56.0861,297.05,94,0,0.00,BR,1621471377,Floresta Amazonica Hotel
339,Marsá Maţrūḩ,31.3525,27.2453,290.26,67,0,0.00,EG,1621471193,Beau Site
353,Dārāb,28.7519,54.5444,299.35,14,0,2.44,IR,1621471562,Naghshe shapoor Hotel
356,Half Moon Bay,37.4636,-122.4286,293.10,70,1,0.89,US,1621471271,"The Ritz-Carlton, Half Moon Bay"
357,Husavik,66.0449,-17.3389,274.10,74,9,1.39,IS,1621471144,Bjarnabúð

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [39]:
type(hotel_info)

list

In [40]:
#configuring gmaps
gmaps.configure(api_key=g_key)

In [42]:
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Lat', 'Lng']]

# Create a marker_layer using the hotel list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content= hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))